<html>
  <body>
    <h1>Bank Receipt</h1>

    <p><strong>ID:</strong> {{id}}</p>
    <p><strong>Amount:</strong> {{amount}}</p>
    <p><strong>Type:</strong> {{type}}</p>
    <p><strong>Status:</strong> {{status}}</p>
    <p><strong>Date:</strong> {{date}}</p>
  </body>
</html>